# **Lesson 4 Assignment**
### **Data Processing - Python Development and Pandas**

**Copy each task (including'Your code here:') to a different cell and complete the codes for each task. Add  your own comments where necessary**

Remember to push your changes to github and submit a PDF copy of your completed notebook with the outputs.

In [ ]:
# Python and Pandas Assessment Notebook

import pandas as pd
import numpy as np
from functools import reduce

# Task 1: Create a DataFrame using Pandas
# Create a DataFrame with the following data:
# Name: Alice, Bob, Charlie, David
# Age: 25, 30, 35, 28
# City: New York, San Francisco, Los Angeles, Chicago

# Your code here:


# Task 2: Row and Column Manipulation
# Drop the 'City' column from the DataFrame created in Task 1

# Your code here:


# Task 3: Handling Null Values
# Create a new DataFrame with some null values and fill them

# Your code here:


# Task 4: GroupBy and Describe
# Using the following DataFrame, group by 'Category' and describe the 'Value' column

df_group = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
    'Value': [10, 20, 15, 25, 30, 35]
})

# Your code here:


# Task 5: Concatenation and Merging
# Concatenate two DataFrames vertically and merge them horizontally

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = pd.DataFrame({'C': [9, 10], 'D': [11, 12]})

# Your code here:


# Task 6: Tuples and Sets
# Create a tuple of fruits and a set of numbers.
# Then, try to add an element to each and observe the difference.

# Your code here:


# Task 7: Dictionaries
# Create a dictionary of student names and their scores.
# Then, update a student's score and add a new student.

# Your code here:


# Task 8: Functions and Lambda
# Create a function to calculate the square of a number.
# Then, use a lambda function to do the same.

# Your code here:


# Task 9: Iterators and Generators
# Create an iterator for the first 5 even numbers.
# Then, create a generator for the same.

# Your code here:


# Task 10: Map, Reduce, and Filter
# Use map to square all numbers in a list.
# Use reduce to find the product of all numbers in a list.
# Use filter to get only even numbers from a list.

numbers = [1, 2, 3, 4, 5]

# Your code here:


# Task 11: Object-Oriented Programming - Creating a Class
# Create a class called 'Rectangle' with attributes 'length' and 'width'.
# Include methods to calculate area and perimeter.

# Your code here:


# Task 12: Pandas Data Analysis
# Using the following DataFrame, perform these tasks:
# 1. Find the average salary by department
# 2. Get the names of employees with salary > 60000
# 3. Add a new column 'Bonus' which is 10% of salary

df_employees = pd.DataFrame({
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
    'Salary': [55000, 65000, 70000, 60000, 58000]
})

# Your code here: