<a href="https://colab.research.google.com/github/danahawa28/colab-git-assignment-DH/blob/main/Lesson4/Lesson_4_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lesson 4 Assignment**
### **Data Processing - Python Development and Pandas**

**Copy each task (including'Your code here:') to a different cell and complete the codes for each task. Add  your own comments where necessary**

Remember to push your changes to github and submit a PDF copy of your completed notebook with the outputs.

In [ ]:
# Python and Pandas Assessment Notebook

import pandas as pd
import numpy as np
from functools import reduce

# Task 1: Create a DataFrame using Pandas
# Create a DataFrame with the following data:
# Name: Alice, Bob, Charlie, David
# Age: 25, 30, 35, 28
# City: New York, San Francisco, Los Angeles, Chicago

# Your code here:


# Task 2: Row and Column Manipulation
# Drop the 'City' column from the DataFrame created in Task 1

# Your code here:


# Task 3: Handling Null Values
# Create a new DataFrame with some null values and fill them

# Your code here:


# Task 4: GroupBy and Describe
# Using the following DataFrame, group by 'Category' and describe the 'Value' column

df_group = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'C'],
    'Value': [10, 20, 15, 25, 30, 35]
})

# Your code here:


# Task 5: Concatenation and Merging
# Concatenate two DataFrames vertically and merge them horizontally

df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
df3 = pd.DataFrame({'C': [9, 10], 'D': [11, 12]})

# Your code here:


# Task 6: Tuples and Sets
# Create a tuple of fruits and a set of numbers.
# Then, try to add an element to each and observe the difference.

# Your code here:


# Task 7: Dictionaries
# Create a dictionary of student names and their scores.
# Then, update a student's score and add a new student.

# Your code here:


# Task 8: Functions and Lambda
# Create a function to calculate the square of a number.
# Then, use a lambda function to do the same.

# Your code here:


# Task 9: Iterators and Generators
# Create an iterator for the first 5 even numbers.
# Then, create a generator for the same.

# Your code here:


# Task 10: Map, Reduce, and Filter
# Use map to square all numbers in a list.
# Use reduce to find the product of all numbers in a list.
# Use filter to get only even numbers from a list.

numbers = [1, 2, 3, 4, 5]

# Your code here:


# Task 11: Object-Oriented Programming - Creating a Class
# Create a class called 'Rectangle' with attributes 'length' and 'width'.
# Include methods to calculate area and perimeter.

# Your code here:


# Task 12: Pandas Data Analysis
# Using the following DataFrame, perform these tasks:
# 1. Find the average salary by department
# 2. Get the names of employees with salary > 60000
# 3. Add a new column 'Bonus' which is 10% of salary

df_employees = pd.DataFrame({
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'HR'],
    'Salary': [55000, 65000, 70000, 60000, 58000]
})

# Your code here:

In [2]:
import pandas as pd
import numpy as np
from functools import reduce

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Toronto', 'London']
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
       Name  Age      City
0    Alice   25  New York
1      Bob   30   Toronto
2  Charlie   35    London

In [3]:
#  Row and Column Manipulation
df_no_city = df.drop(columns=['City'])
print("\nAfter dropping 'City' column:\n", df_no_city)

After dropping 'City' column:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [4]:
# Handling Null Values
df_nulls = pd.DataFrame({
    'A': [1, np.nan, 3],
    'B': [np.nan, 5, 6],
    'C': [7, 8, np.nan]
})
print("\nDataFrame with Nulls:\n", df_nulls)

# Fill numeric columns with 0
df_filled = df_nulls.fillna(0)
print("\nNulls filled with 0:\n", df_filled)

DataFrame with Nulls:
      A    B    C
0  1.0  NaN  7.0
1  NaN  5.0  8.0
2  3.0  6.0  NaN

Nulls filled with 0:
      A    B    C
0  1.0  0.0  7.0
1  0.0  5.0  8.0
2  3.0  6.0  0.0

In [5]:
# GroupBy and Describe ---
df_group = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'C'],
    'Value': [10, 20, 15, 25, 5]
})
grouped = df_group.groupby('Category')['Value'].describe()
print("\nGrouped statistics by Category:\n", grouped)

Grouped statistics by Category:
           count  mean       std   min    25%   50%    75%   max
Category
A           2.0  12.5  3.535534  10.0  11.25  12.5  13.75  15.0
B           2.0  22.5  3.535534  20.0  21.25  22.5  23.75  25.0
C           1.0   5.0       NaN   5.0   5.00   5.0   5.00   5.0

In [7]:
# Concatenation and Merging
df1 = pd.DataFrame({'ID': [1, 2], 'Score': [80, 90]})
df2 = pd.DataFrame({'ID': [3, 4], 'Score': [85, 95]})
df3 = pd.DataFrame({'ID': [1, 2, 3, 4], 'Grade': ['A', 'B', 'A-', 'B+']})
concatenated = pd.concat([df1, df2], ignore_index=True)
merged = pd.merge(concatenated, df3, on='ID')
print("\nConcatenated and Merged DataFrame:\n", merged)

Concatenated and Merged DataFrame:
    ID  Score Grade
0   1     80     A
1   2     90     B
2   3     85    A-
3   4     95    B+

In [8]:
#Tuples and Sets
fruits = ('apple', 'banana', 'cherry')
numbers = {1, 2, 3, 4, 5}
print("\nTuple:", fruits)
print("Set before adding:", numbers)
# Attempt to add
numbers.add(6)
print("Set after adding 6:", numbers)

try:
    fruits += ('mango',)  # creates a new tuple, not modifying the original
except TypeError as e:
    print("Error adding to tuple:", e)

print("Explanation: Tuples are immutable; Sets are mutable and allow adding.")

Tuple: ('apple', 'banana', 'cherry')
Set before adding: {1, 2, 3, 4, 5}
Set after adding 6: {1, 2, 3, 4, 5, 6}
Explanation: Tuples are immutable; Sets are mutable and allow adding.

In [9]:
# Dictionaries ---
students = {'Alice': 85, 'Bob': 90, 'Charlie': 88}
students['Bob'] = 95  # update
students['David'] = 78  # add
print("\nUpdated Dictionary:", students)

Updated Dictionary: {'Alice': 85, 'Bob': 95, 'Charlie': 88, 'David': 78}

In [10]:
#Functions and Lambda
def square(x):
    return x * x

square_lambda = lambda x: x * x

print("\nSquare using function (4):", square(4))
print("Square using lambda (5):", square_lambda(5))

Square using function (4): 16
Square using lambda (5): 25

In [11]:
# Iterators and Generators ---
class EvenIterator:
    def __init__(self, limit):
        self.num = 0
        self.limit = limit
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.limit:
            raise StopIteration
        val = self.num
        self.num += 2
        self.count += 1
        return val

print("\nIterator output:")
for num in EvenIterator(5):
    print(num, end=" ")

def even_generator(n):
    for i in range(n):
        yield i * 2

print("\nGenerator output:")
for num in even_generator(5):
    print(num, end=" ")

Iterator output:
0 2 4 6 8
Generator output:
0 2 4 6 8

In [12]:
# Map, Reduce, Filter ---
numbers = [1, 2, 3, 4, 5]

squared = list(map(lambda x: x**2, numbers))
product = reduce(lambda x, y: x * y, numbers)
evens = list(filter(lambda x: x % 2 == 0, numbers))

print("\n\nSquared (map):", squared)
print("Product (reduce):", product)
print("Even numbers (filter):", evens)

Squared (map): [1, 4, 9, 16, 25]
Product (reduce): 120
Even numbers (filter): [2, 4]

In [13]:
#Object-Oriented Programming
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * (self.length + self.width)

r1 = Rectangle(5, 3)
r2 = Rectangle(10, 2)

print("\nRectangle 1 - Area:", r1.area(), ", Perimeter:", r1.perimeter())
print("Rectangle 2 - Area:", r2.area(), ", Perimeter:", r2.perimeter())

Rectangle 1 - Area: 15 , Perimeter: 16
Rectangle 2 - Area: 20 , Perimeter: 24

In [14]:
# Pandas Data Analysis ---
employee_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'IT', 'IT', 'HR'],
    'Salary': [55000, 70000, 65000, 48000]
})

# Average salary by department
avg_salary = employee_df.groupby('Department')['Salary'].mean()
print("\nAverage salary by department:\n", avg_salary)

# Employees with salary > 60000
high_earners = employee_df[employee_df['Salary'] > 60000]['Name']
print("\nEmployees with salary > 60000:", list(high_earners))

# Add bonus column
employee_df['Bonus'] = employee_df['Salary'] * 0.10
print("\nDataFrame with Bonus column:\n", employee_df)

Average salary by department:
 Department
HR    51500.0
IT    67500.0
Name: Salary, dtype: float64

Employees with salary > 60000: ['Bob', 'Charlie']

DataFrame with Bonus column:
       Name Department  Salary   Bonus
0    Alice         HR   55000  5500.0
1      Bob         IT   70000  7000.0
2  Charlie         IT   65000  6500.0
3    David         HR   48000  4800.0